*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 0;
}
label.logo{
  color: black;
  font-family: 'Kaushan Script', cursive;;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav{
  background-color:azure;
  height: 80px;
  width: 100%;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 20px;
  font-family: 'Kaushan Script', cursive; ;
  padding: 7px 13px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin: 40px;
  cursor: pointer;
  display: none;
}
.name h1{
  font-family: 'Kaushan Script', cursive;
  font-size: 80px;
  text-align: center;
  margin-top: -450px ;
  margin-left: 4em;
  color:azure;
  font-weight: 900;
}
.name h2{
  font-size: 80px;
  text-align: center;
  font-family:  'Kaushan Script', cursive;
  margin-top: 130px;
  margin-left: 8em;
  color: skyblue;
  font-weight: 900;
}
.button{
  width: 250px;
  height: 80px;
  font-size: 25px;
  font-weight: 900;
  font-family: 'Kaushan Script', cursive ;
  margin-top: 80px;
  margin-left: 38em;
  border: 5px solid burlywood;
  border-radius: 2em;
}
.name h3{
  font-size: 35px;
  font-style: italic;
  padding-left: 26em;
  padding-top: 30px;
  color: #333;
  font-family: 'Kaushan Script' , cursive;
}
.button:hover{
  color: #333;
}